BattleTank/Content/UI/BT17-Firing-M1A1-tank-in-Djibouti.uasset
BattleTank/Content/Materials/Ocean.uasset
BattleTank/Content/Materials/GerstnerCluster.uasset
BattleTank/Content/Materials/Gerstner.uasset
